/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans TC", sans-serif;
    padding-top: 110px; /* Adjust based on the combined height of navbar and banner */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    color: #000;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure it stays on top */
}

.logo img {
    height: 100%;
    width: 200px;
}

.nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    margin-left: 2rem;
}

.nav-links {
    list-style: none;
    display: flex;
    margin-right: 1rem;
}

.nav-links li {
    position: relative;
    margin: 0 0.5rem;
}

.nav-links li:not(:last-child)::after {
    content: "|";
    margin-left: 0.5rem;
    color: #000;
}

.nav-links a {
    text-decoration: none;
    font-size: 1rem;
    font-family: "Noto Sans TC", sans-serif;
    color: #000;
}

.nav-links a:hover {
    text-decoration: underline;
}

.search {
    display: flex;
    align-items: center;
    width: 280px;
}

.input-container {
    position: relative;
    flex-grow: 1;
}

.search input {
    padding: 0.5rem;
    padding-right: 2.5rem;
    border: 1px solid #000;
    border-radius: 20px;
    width: 100%;
}

.search-icon {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
}

.search img {
    margin-left: 1rem;
}

.banner {
    background-color: #000;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 60px; /* Below the navbar */
    left: 0;
    z-index: 999; /* Ensure it stays on top, but below the navbar */
}

.footer {
    background-color: #313538;
    color: #fff;
    height: 60px;
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-left {
    font-size: 16px;
    display: flex;
    gap: 1rem;
}

.footer-left a {
    color: #fff;
    text-decoration: none;
}

.footer-left a:hover {
    text-decoration: underline;
}

.footer-right {
    display: flex;
    align-items: center;
}

.social-icon {
    margin: 0 0.5rem;
    width: 32px;
    height: 32px;
}

.footer-right span {
    color: #828282;
    font-size: 12px;
    margin-left: 1rem;
}
